.formSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
  }
  .formBox {
    padding: 2rem 3rem;
    width: 20%;
    background: #70949c;
  }
  .form {

    row-gap: .5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .input {
    border: 1pz solid gainsboro;
    font-size: 1rem;
    padding: .5rem;
    outline: none;
  }
  .submitBox {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .submit {
    background: #143038;
    cursor: pointer;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    width: 10rem;
    height: 40px;
  }
  .error {
    color: red;
    font-size: 22px;
    padding-top: 0;
  } 